.headline {
    font-weight: 500;

    &.great {
        @media only screen and (min-width: 768px) {
            font-size: 72px;
            line-height: 1.24;
            letter-spacing: -.037em;
        }

        @media only screen and (max-width: 767px) {
            font-size: 48px;
            line-height: 1.19;
            letter-spacing: -.037em;
        }
    }

    &.medium {
        @media only screen and (min-width: 768px) {
            font-size: 68px;
            line-height: 1.22;
            letter-spacing: -.036em; 
        }

        @media only screen and (max-width: 767px) {
            font-size: 42px;
            line-height: 1.14;
            letter-spacing: -.036em; 
        }

        &.margin {
            margin-bottom: 34px;
        }
    }

    &.average {
        @media only screen and (min-width: 768px) {
            font-size: 54px;
            letter-spacing: -.026em; 
            line-height: 1.2;
        }

        @media only screen and (max-width: 767px) {
            font-size: 38px;
            letter-spacing: -.026em; 
            line-height: 44px;
        }

        &.margin {
            @media only screen and (min-width: 768px) {
                margin-bottom: 34px;
            }
        }
    }

    &.small {
        @media only screen and (min-width: 768px) {
            font-size: 32px;
            line-height: 1.21;
            letter-spacing: -.03em;
        }

        @media only screen and (max-width: 767px) {
            font-size: 28px;
            line-height: 1.21;
            letter-spacing: -.03em;
        }
    }
}

.description {
    color: var(--r-calm-grey-txt-color);

    &.giant {
        @media only screen and (min-width: 768px) {
            font-size: 25px;
            letter-spacing: -.023em;
            font-weight: 600;
            text-align: left;
        }

        @media only screen and (max-width: 767px) {
            font-size: 25px;
            letter-spacing: -.023em;
            font-weight: 600;
            text-align: left;
        }
    }

    &.great {
        @media only screen and (min-width: 768px) {
            font-size: 23px;
            font-weight: 600;
        }

        @media only screen and (max-width: 767px) {
            font-size: 23px;
            font-weight: 600;
        }
    }

    &.medium {
        line-height: 1.28;

        @media only screen and (min-width: 768px) {
            font-size: 30px;
            font-weight: 600;
            letter-spacing: -.016em;
        }

        @media only screen and (max-width: 767px) {
            font-size: 19px;
            font-weight: 500;
        }
    }

    &.average {
        @media only screen and (min-width: 768px) {
            font-size: 32px;
            line-height: 1.2;
            font-weight: 600;
            letter-spacing: -.018em;
        }

        @media only screen and (max-width: 767px) {
            font-size: 18px;
            line-height: 23px;
            font-weight: 500;
            letter-spacing: -.01em;
        }
    }
    
    &.small {
        @media only screen and (min-width: 768px) {
            font-size: 28px;
            line-height: 1.22;
            font-weight: 600;   
            letter-spacing: -.024em;
        }

        @media only screen and (max-width: 767px) {
            font-size: 17px;
            line-height: 1.36;
            font-weight: 400;   
            letter-spacing: -.014em;
        }

        &.second {
            margin-top: 24px;
        }
    }

    &.ultra-small {
        @media only screen and (min-width: 768px) {
            font-size: 16px;
            line-height: 1.2;
            font-weight: 500;   
            letter-spacing: -.014em;
        }

        @media only screen and (max-width: 767px) {
            font-size: 14px;
            line-height: 17px;
            font-weight: 500;   
            letter-spacing: -.014em;
        }
    }

    &.margin-top {
        @media only screen and (min-width: 768px) {
            margin-top: 14px;
        }

        @media only screen and (max-width: 767px) {
            margin-top: 20px;
        }
    }
}


.data-main-headline {
    @media only screen and (min-width: 768px) {
        margin: 0 0 28px;
        font-size: 32px;
        line-height: 38px;
        font-weight: 600;
    }
}

.data-description {
    @media only screen and (min-width: 768px) {
        margin: 0 0 24px; 
        font-size: 19px;
        line-height: 27px;
        font-weight: 400;
    }
}

.data-headline {
    @media only screen and (min-width: 768px) {
        margin: 90px 0 24px;
        font-size: 23px;
        line-height: 29px;
        font-weight: 600;
    }
}