:root {
    --r-main-btn-color: #FF6D1F;
    --r-main-btn-hover-color: #FF600A;
    --r-add-btn-color: #E8E8ED;
    --r-add-btn-hover-color: #DDDDE4;
    --r-main-link-color: #0070E0;
    --r-calm-dark-bg-color: #111111;
    --r-calm-grey-bg-color: #F5F5F9;
    --r-saturated-grey-bg-color: #EDEDED;
    --r-calm-grey-txt-color: #828287;
    --r-saturated-grey-txt-color: #646468;
    --r-main-txt-light-theme-color: #1E1E1F;
    --r-main-txt-dark-theme-color: #F5F5F5;
    --r-main-calm-border-color: #d2d2d7;
    --r-main-saturated-border-color: #333333;
}