.automatic-nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-between;
    position: relative;
    width: 100%;

    .product-nav-btn {
        color: var(--r-main-txt-light-theme-color);
        text-decoration: none;

        &:nth-child(1) {
            .content-wrapper {
                animation: autoFadeIn .3s ease both, manualMoveIn .3s ease forwards;

                .icon {
                    width: 50%;
                    height: 50%;
                    background-image: url('/img/garage-gate-icon.png');
                }
            }
        }

        &:nth-child(2) {
            .content-wrapper {
                animation: autoFadeIn .3s ease .05s both, manualMoveIn .3s ease .05s forwards; 

                .icon {
                    width: 60%;
                    height: 60%;
                    background-image: url('/img/sliding-gate-icon.png');
                }
            }
        }

        &:nth-child(3) {
            .content-wrapper {
                animation: autoFadeIn .3s ease .1s both, manualMoveIn .3s ease .1s forwards;  

                .icon {
                    width: 70%;
                    height: 70%;
                    background-image: url('/img/swing-gate-icon.png');
                }
            }
        }

        &:active {
            .icon-border {
                box-shadow: 0px 0px 0px 4px rgba(0, 113, 227, 0.4);  
            }

            .chapter {
                color: var(--r-main-link-color);
            }
        }
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        height: fit-content;
        transform: translateX(30px);
    }

    .icon-border {
        align-items: center;
        border-radius: 50%;
        display: flex;
        height: 70px;
        justify-content: center;
        width: 70px;
        background-color: rgba(232, 232, 237, .7);
    }

    .chapter {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -.03em;
        margin: 10px 0 0;
        text-align: center;
    }

    .icon {
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}