.gate-nav {
    position: relative;
    z-index: 888;
    background-color: rgba(255, 255, 255, .77);
    width: 100%;
    height: fit-content;
    padding: 24px 68px 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0 1px 6px rgba(0, 0, 0, .05);

    @media only screen and (min-width: 1023px) {
        align-items: center;
        justify-content: center;
        gap: 65px;
    }


    .gate-nav-btn {
        text-decoration: none;
        color: var(--r-main-txt-light-theme-color);

        &:active {
            opacity: .44;
            transition: opacity .1s ease;
        }
    }

    .gate-nav-icon-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        height: fit-content;
        transform: translateX(30px);

        &.checked {

        }

        &:nth-child(1) {
            animation: autoFadeIn .3s ease both, manualMoveIn .3s ease forwards;
        }

        &:nth-child(2) {
            animation: autoFadeIn .3s ease .05s both, manualMoveIn .3s ease .05s forwards;
        }

        &:nth-child(3) {
            animation: autoFadeIn .3s ease .1s both, manualMoveIn .3s ease .1s forwards;
        }
    }

    .gate-nav-icon {
        width: var(--r-nav-height);
        height: auto;
    }

    .gate-nav-text {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        font-weight: 400;
        text-align: center;
        margin: 8px 0 0;
        color: var(--r-main-txt-light-theme-color);
    }
}