.product-gallery {
    .item-link {
        text-decoration: none;
        color: var(--r-add-link-color);
        font-size: 17px;
        line-height: 1.36;
        font-weight: 400;
        letter-spacing: -0.014em;
        margin-top: 18px;

        @media (hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }

        @media (hover: none) {
            &:active {
                text-decoration: underline;
            }
        }
    }

    .description-container {
        display: flex;
        flex-direction: column;
        padding-top: 28px;
    }
}