.product-features-block {
    @media only screen and (min-width: 768px) {
        position: relative;
        
        padding: 200px 0;
    }

    .product-features-icon {
        width: 32px;
        height: 32px;
        margin-bottom: 8px;
    }

    .description-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &.manual-control,
    &.saving-space,
    &.tree-space,
    &.versatility {
        background-color: var(--r-calm-grey-bg-color);
    }

    &.winter-care-sliding,
    &.corrosion-protection,
    &.durability {
        background-color: var(--r-calm-dark-bg-color);
        color: var(--r-main-txt-dark-theme-color);
    }

    .media-wrapper {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin-top: 75px;
        gap: 12px;

        &.narrow {
            height: 200px;
            margin: 45px 0;
        }

        .media-item-wrapper {
            background-color: var(--r-calm-grey-bg-color);
            border-radius: 20px;
        }

        .picture {
            background-size: cover;
            background-repeat: no-repeat;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &.material-gallery .arrow-btn {
        background-color: rgba(110, 110, 115, .48);
    }

    &.material-gallery .arrow-btn svg path {
        fill: rgba(245, 245, 247, .57);
    }

    &.material-gallery .arrow-btn:not(.disabled):hover {
        background-color: rgba(110, 110, 115, .42);
    }

    &.material-gallery .arrow-btn:not(.disabled):hover svg path {
        fill: rgba(245, 245, 247, .84);
    }

    &.panorama .product-features-block.energy-efficiency {
        background-color: var(--r-calm-grey-bg-color);
    }

    .auto-versatility-typography-wrapper {
        position: relative;
        padding: 0 24.4px 0 194px;
    }
    
    .auto-versatility-typography-wrapper::after {
        position: absolute;
        content: "";
        width: 1px;
        opacity: .8;
        height: 232px;
        left: 184px;
        top: -166px;
        background-color: var(--r-main-btn-color);
    }

    .auto-versatility-typography-wrapper::before {
        position: absolute;
        content: "";
        width: 6px;
        height: 6px;
        left: 181.5px;
        top: -168.5px;
        border-radius: 50%;
        background-color: var(--r-main-btn-color);
        transform: scale(1);
        opacity: 1;
    }

      
  
    .gate-material-gallery {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        min-height: 386px;
        margin: 45px 24.4px;
    }

    .material-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 340px;
    }
    
    .material-info {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -.02em;
        font-weight: 500;
        margin: 14px 0 0;
        color: var(--r-saturated-grey-txt-color);
        text-align: center;
    }

    .material-group {
        z-index: 1;
        position: absolute;
        top: 0;
        opacity: 0;
        transition: opacity .7s ease;
    }

    .material-group.active {
        z-index: 2;
        opacity: 1;
    }

    .add-char-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.product-features-eyebrow {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -.02em;
    margin: 0 0 18px;
    text-transform: uppercase;
    color: var(--r-calm-grey-txt-color);
}

.product-features-border {
    margin: 0 55.2px;
    height: 1px;
    background-color: rgba(110,110,115);
}