footer {
    display: flex;
    flex-direction: column;

    .footer-content-container {
        @media only screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            width: 960px;
            margin: 0 auto;
            padding: 155px 0 17px;
        }
    
        @media only screen and (max-width: 767px) {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 45px 24.4px 18px;
        }   
    }

    .content-wrapper {
        @media only screen and (min-width: 768px) {
            position: relative;
            display: flex;
            flex-direction: column;
            font-size: 12px;
            letter-spacing: -.03em;
            font-weight: 500;
            text-decoration: none;
            box-sizing: border-box;
        }

        @media only screen and (max-width: 767px) {
            position: relative;
            display: flex;
            flex-direction: column;
            font-size: 12px;
            letter-spacing: -.03em;
            font-weight: 500;
            text-decoration: none;
            box-sizing: border-box;
        }
    }

    .social-media-container {
        @media only screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            height: 40px;
            width: 100%;
            margin: 0 0 25px;
        }
        
        .telegram,
        .tiktok {
            width: 40px;
            margin-left: 10px;
        }
    }
}


